<section class="mb-1">
  <div class="d-flex" style="width: 20rem">
    <input
      class="form-control me-1"
      type="text"
      placeholder="Filter by city"
      (keyup)="filterResults()"
      [(ngModel)]="textSearch"
    />
  </div>
</section>
<section class="d-flex gap-2 flex-wrap">
  @for (location of filteredLocationList; track location.id) {
  <div style="width: 20rem">
    <app-housing-location [housingLocation]="location"></app-housing-location>
  </div>
  } @empty {
  <span>No location yet</span>
  }
</section>
