<section>
  <div class="search">
    <input
      type="text"
      placeholder="Filter by city"
      (keyup.enter)="filterResults(filter.value)"
      #filter
    />
    <button class="primary" type="button" (click)="filterResults(filter.value)">
      Search
    </button>
  </div>
</section>
<section class="results">
  @for (location of filteredLocationList; track location.id) {
    <app-housing-location [housingLocation]="location"></app-housing-location>
  } @empty {
    <span>No location yet</span>
  }
 
</section>
