<main class="main">
  <header class="brand-name">
    <div>
      <a [routerLink]="['/']">
        <img
          class="brand-logo"
          src="/assets/logo.svg"
          alt="logo"
          aria-hidden="true"
        />
      </a>
    </div>
    <div>
      @if (authService.isLoggedIn) {
        <div>
          <span>Welcome {{ authService.userResult.login }} ! </span>
          <a (click)="logoff()">Deconnexion</a>
        </div>
      } @else {
        <a [routerLink]="['login']">Connexion</a>
      }
    </div>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>

<router-outlet />
